.container {
    display: flex;
    height: 300px;
    justify-content: space-around;
}

.container .box {
    background-color: antiquewhite;
    display: flex;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    width: 600px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.container .box:hover {
    box-shadow: 1px 2px 12px rgb(255, 255, 255);
}
   

h1 {
    text-align: center;
    margin: 30px;
    text-decoration: underline;
    color: antiquewhite;
    font-family:'Courier New', Courier, monospace;
    border-radius: 12px;
}

#card-title {
    background-color: #0F0F0F;
}
#card-title:hover {
    background-color: #0F0F0F;
    border: 2px white solid;
    box-shadow: 1px 2px 12px rgb(255, 255, 255);
}
.img-container {
    justify-content: center;
    display: flex;
}

.profile {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: 20px;
    border: 3px solid antiquewhite;
}

.profile:hover {
    box-shadow: 1px 2px 12px rgb(255, 255, 255);
}


body {
    background: linear-gradient(300deg, #525151, #737984, #3b3c3e);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
   
}
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

h2 {
    color: grey;
    font-family:'Courier New', Courier, monospace;
}

#myDiv {
    width: auto;
    color: antiquewhite;
    display: flex;
    justify-self: center;
    justify-content: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
}

.secret {
    display: flex;
    text-align: center;
    align-items: center;
    width: 300px;
}

.buttons-container {
    display: flex;
    text-align: center;
    align-items: center;
}

.button-1 {
    background-color: antiquewhite;
    border-radius: 100px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-family:'Courier New', Courier, monospace;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    align-items: center;
  }
  
  .button-1:hover {
    box-shadow: rgb(255, 252, 255) 0 -25px 18px -14px inset,rgb(251, 251, 251) 0 1px 2px,rgb(255, 253, 254) 0 2px 4px,rgb(255, 253, 255) 0 4px 8px,rgb(255, 255, 255) 0 8px 16px,rgb(125, 116, 124) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }

  .gridlay {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    height: 84vh;
    }
    
    [class ^= "box-"] {
      display: grid;
      place-items: center;
      border-radius: 8px;
      margin: 20px ;
    }
 
    .gridlay .box-2 {
      grid-column: span 8;

    }
    .gridlay .box-3 {
      grid-column: span 4;
    }

    .contact-info {
        list-style: none;
        align-items: center;
        justify-items: center;
        margin-right: 50px;
    }

    .contact-info {
        text-decoration: none;
        justify-self: center;
    }
    .contact-info h4 {
        text-decoration: none;
        color: antiquewhite;
    }
    
    .contact-info a {
        text-decoration: none;
        color: antiquewhite;

    }

    #card-title p {
        font-size: 20px;
        color: antiquewhite;
    }

    .video-container video {
        width: 100%;
    }

    .video-container .hover-text {
        background: antiquewhite;
        color: #0F0F0F;
        text-align: center;
        transition: all 400ms ease;
        opacity: 1;
    }

    .video-container .hover-text  .active {
        opacity: 1;
    }

    .gridlayy {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        height: 84vh;
        }
        
        [class ^= "box-"] {
          display: grid;
          place-items: center;
          border-radius: 8px;
          margin: 20px ;
        }
        .gridlayy .box-1 {
            grid-column: span 2;
          }
     
        .gridlayy .box-2 {
          grid-column: span 8;
    
        }
        .gridlayy .box-3 {
          grid-column: span 2;
        }
        
        [class ^= "projbox-2"] {
            display: grid;
            place-items: center;
            border-radius: 8px;
            margin: 20px ;
            background-color: white;
        }
        .projbox-2 {
            grid-column: span 8;
            box-shadow: rgb(255, 252, 255) 0 -25px 18px -14px inset,rgb(251, 251, 251) 0 1px 2px,rgb(255, 253, 254) 0 2px 4px,rgb(255, 253, 255) 0 4px 8px,rgb(255, 255, 255) 0 8px 16px,rgb(125, 116, 124) 0 16px 32px;
        }
        .projbox-2:hover {
            box-shadow: antiquewhite;
        }

        .projbox-2 p {
            font-size: 15px;
            padding-right: 10px;
            padding-left: 10px;
            font-family: Arial, Helvetica, sans-serif;
        }

        .projbox-2 h3 {
            text-align: start;
            text-decoration: underline;
            margin: 20px;
            font-family:'Courier New', Courier, monospace;
        }

        .projbox-2 #card {
            justify-self: flex-start;
            align-self: baseline;
        }
        .smalltext {
            text-align: center;
        }
        .smalltext small {
            font-family: Arial, Helvetica, sans-serif;
        } 
        li {
            font-family: Arial, Helvetica, sans-serif;
        }